.alignleft {
    float:left;
    margin: .5em 20px .5em 0;
}

.alignright {
    float:right;
    margin: .5em 0 .5em 20px;
}

.aligncenter {
    display: block;
    float: none;
    margin-top: .5em;
    margin-right: auto !important;
    margin-bottom: .5em;
    margin-left: auto !important;
    text-align:center;
}

.textaligncenter {
    text-align:center;
}

.textalignright {
    text-align:right;
}

.textalignleft {
    text-align:left;
}

.imgcenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.list-lower-roman    li {
    list-style-type: lower-roman;
}
.list-upper-roman li {
    list-style-type: upper-roman;
}

.list-lower-alpha li {
    list-style-type: lower-alpha;
}

.list-upper-alpha li {
    list-style-type: upper-alpha;
}
.list-decimal li {
    list-style-type: decimal;
}